@charset "utf-8";
/* CSS Document */

* {
margin: 0;
padding: 0;
box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
  }

body {
	line-height: 144%;
	font-family: 'ralewayregular',Helvetica,Arial,Sans-serif;
	box-sizing: border-box;
	width: 100vw;
	height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

li.mainnav {
	font-family: 'ralewayregular';
	font-size:1rem;
	color:#fff;
	float:right;
	text-align:right;
	margin-top:40px;
	margin-right:24px;
	display:inline;
	}

section {
	min-width:100%;
	display:block;
	float:left;
}

a {
	color:inherit;
	text-decoration: underline;
}

p.services {
	line-height: 160%;
	margin-bottom:0;
}

section.headline {
	padding:0 1rem 4rem 1rem;
	background-image: linear-gradient(
        to right bottom, 
        #360033, 
        #0b8793);
	}

section.headline-small {
	padding:0 1rem 1rem 1rem;
	background-image: linear-gradient(
        to right bottom, 
        #360033, 
        #0b8793);
}

.logotop {
	float:left;
	display:inline-block;
	height:76px;
	margin-top:10px;
	}

nav.headline {
	width:100%;
	display:block;
	float:left;
	}

.maincol {
	max-width:960px;
	height:auto;
	display:block;
	margin-left:auto;
	margin-right:auto;
	}

h1.whitemid {
	font-family: 'ralewaysemibold';
	font-size:2.625rem;
	line-height:116%;
	color:#fff;
	display:block;
	text-align:center;
	width: 100%;
	padding-top:80px;
	}

h3.whitemid {
	color:#fff;
	display:block;
	text-align:center;
	width: 100%;
	}

p.whitemid {
	font-family: 'ralewayregular';
	font-size:1.125rem;
	line-height:150%;
	color:#fff;
	display:block;
	text-align:center;
	padding-top:30px;
	width: 100%;
	margin:auto;
	}

.buttonholder {
	width:500px;
	height:44px;
	margin-top:80px;
	margin-left:230px;
	margin-right:230px;
	display:block;
	}



/*----------------------------------------- Szolgáltatás -----------------------------------------------*/


section.szolgaltatas{
	background-size: cover;
	height:auto;
	background-color:#e6f6f9;
	}

.autopad {
	padding: 60px 10px 40px 10px;
	}

h1.darkmid {
	font-family: 'ralewaysemibold';
	font-size:1.875rem;
	line-height:116%;
	color:#10222b;
	display:block;
	text-align:center;
	width:100%;
	}

h2.midtext {
	font-family: 'ralewayregular';
	font-size:1.125rem;
	line-height:142%;
	color:#10222b;
	display:block;
	text-align:center;
	margin:40px auto 0 auto;
	max-width:960px;
	}

h2.midtext2 {
	font-family: 'ralewayregular';
	font-size:1.125rem;
	line-height:142%;
	color:#10222b;
	display:block;
	text-align:center;
	padding-top:75px;
	width:760px;
	margin:0 100px 0 100px;
	}

p.addinfo {
	font-family: 'bitteritalic';
	font-size:1rem;
	line-height:142%;
	color:#10222b;
	text-align:center;
	}

section.josvonal1{
	background-color:#f8fcfc;
	}

.strong{
	font-family: 'ralewaysemibold';
	font-size:1.125rem;
	line-height:142%;
	color:#10222b;
	}

.perc {
	width:430px;
	font-family: 'ralewaysemibold';
	font-size:1.125rem;
	line-height:144%;
	color:#10222b;
	display:block;
	text-align:right;
	float:left;
	padding-top:25px;
	padding-bottom:10px;
	}

.ar{
	width:430px;
	font-family: 'ralewayregular';
	font-size:1.500rem;
	line-height:116%;
	color:#10222b;
	display:block;
	text-align:left;
	float:left;
	padding-top:23px;
	padding-bottom:10px;
	}

.padbot {
	padding-bottom:20px;
	}

.padtop {
	padding-top:75px;
	}

.under{
	text-decoration:underline;

	}

.numberCircle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #0C798E;
    border: none;
    color: #fff;
    text-align: center;
   	font-family: 'ralewaysemibold';
	font-size:1.625rem;
	float:left;
	margin-left:10px;
	margin-top:40px;
}

.progresstitle{
	font-family: 'ralewayregular';
	width: 100%;
	font-size:1.875rem;
	line-height:150%;
	color:#10222b;
	text-align:left;
	padding-top:8px;
	padding-bottom:16px;
	display: block;
	float: left;
}

.progressubtitle {
	font-family: 'bitteritalic';
	font-size:1.125rem;
	line-height:144%;
	color:#10222b;
	text-align:left;
	float:left;
	}

.full{
	width: 100%;
	float:left;
	display:block;
	}

.card-wrapper {
	display: block;
}

.card{
	width: calc(25% - 30px);
	min-width: 200px;
	height:auto;
	margin-top: 30px;
	border: 1px solid lightgray;
	border-radius:2px;
	float:left;
	padding-top:20px;
	padding-bottom: 20px;
	box-sizing: border-box;
	}

.card:not(:last-child) {
	margin-right: 30px;
}

.cardbest{
	background-image:url(../img/best.svg);
	background-position:top right;
	background-repeat:no-repeat;
	}

h3 {
	font-family: 'ralewayextrabold';
	font-size:1.125rem;
	line-height:144%;
	color:#10222b;
	display:block;
	margin-top:12px;
	}

.card1 {
	font-family: 'ralewayregular';
	font-size:1.720rem;
	line-height:100%;
	color:#10222b;
	display:block;
	text-align:center;
	margin-top:16px;
	}

.card2 {
	font-family: 'ralewaysemibold';
	font-size:1rem;
	line-height:100%;
	color:#10222b;
	display:block;
	text-align:center;
	margin-top:6px;
	}

.card3 {
	font-family: 'ralewayextrabold';
	font-size:1.5rem;
	line-height:100%;
	color:#10222b;
	display:block;
	text-align:center;
	margin-top:24px;
	}

.card4 {
	font-family: 'ralewaysemibold';
	font-size:1rem;
	line-height:100%;
	color:#10222b;
	display:block;
	text-align:center;
	margin-top:10px;
	}

.card5 {
	font-family: 'ralewayextrabold';
	font-size:1.5rem;
	line-height:100%;
	color:#83A1B1;
	display:block;
	text-align:center;
	margin-top:14px;
	}

.card6 {
	font-family: 'ralewaysemibold';
	font-size:1rem;
	line-height:100%;
	color:#83A1B1;
	display:block;
	text-align:center;
	margin-top:10px;
	}

.flex-wrapper{ 
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
}

.services { 
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 100%;
	width: 100%;
	flex-wrap: wrap;
	margin: 20px 0 30px 0;	
}

.services:first-child { 
	padding-top: 30px;
  }

.service {
	font-family: 'ralewaysemibold';
	font-size:1.000rem;
	line-height:180%;
	color:#10222b;
	display:block;
	float:left;
	text-align:left;
	margin-top:5px;
	width:33.333%;
	box-sizing:border-box;
}

.column__list-item {
	width:33.33%;
	min-width:220px;
	float:left;
	padding:0 10px 34px 10px;
	margin-top:50px;
	box-sizing: border-box;
}

.column__list-item:not(:last-child) {
	border-right: solid 1px #ccc;
}

dt{
	font-family: 'ralewaysemibold';
	font-size:1.125rem;
	line-height:114%;
	color:#10222b;
	display:block;
	text-align:left;
	margin-top:16px;
	}

dd{
	font-family: 'ralewayregular';
	font-size:1rem;
	line-height:144%;
	color:#10222b;
	display:block;
	text-align:left;
	margin-top:6px;
	}

.phones {
	font-family: 'ralewaysemibold';
	font-size:1.500rem;
	line-height:144%;
	color:#10222b;
	display:block;
	text-align:center;
	margin-top:16px;
	}

a[href^="tel:"], a[href^="tel:"]::before {
	text-decoration: none;
	}

.phones1 {
	font-family: 'ralewayextrabold';
	font-size:2.625rem;
	line-height:144%;
	color:#0a798e;
	display:block;
	text-align:center;
	}

.infotext{
	font-family: 'bitteritalic';
	font-size:1rem;
	line-height:144%;
	color:#10222b;
	display:block;
	text-align:left;
	margin-top:16px;
	}

.infotext-light{
	font-family: 'bitteritalic';
	font-size:1rem;
	line-height:144%;
	color:#0C798E;
	display:block;
	text-align:left;
}

.whatcall{
	font-family: 'ralewaysemibold';
	font-size:1.125rem;
	line-height:144%;
	color:#10222b;
	display:block;
	text-align:center;
	margin-top:6px;
	}

.callthis {
	margin:18px auto;
	width:40px;
	height:40px;
	}

.pay2 {
	width:219px;
	height:280px;
	border-right: solid 1px #ccc;
	float:left;
	padding:0 10px 34px 10px;
	margin-top:50px

	}

.paynoline2 {
	width:220px;
	height:280px;
	border-right: none;
	float:left;
	padding:0 10px 34px 10px;
	margin-top:50px

}

.center {
	display:block;
	margin-left:auto;
	margin-right:auto;
	}

section.szemelyesjoslas {
	display: none;
	background-size: cover;
	background-color:#e6f6f9;
	}

.szemelyes {
	list-style: none;
	display: block;
}

.felora {
	float:left;
	box-sizing:border-box;
	width:33.33%;
	height:auto;
	padding-left:10px;
	padding-right:10px;
	margin-top:40px;
	margin-bottom:40px;
	}

.felora:not(:last-child) {
	border-right: solid 1px #ccc;
}

.dij
	{
	font-family: 'ralewayextrabold';
	font-size:2.625rem;
	line-height:144%;
	color:#0a798e;
	display:inline;
	text-align:center;
	width: 100%;
	float: left;
	}

.ft {

	font-family: 'ralewayregular';
	font-size:24px;
	line-height:144%;
	color:#10222b;
	}

.addinfo2 {
	padding-top:16px;
	font-family: 'bitteritalic';
	font-size:1.000rem;
	line-height:144%;
	color:#10222b;
	display:block;
	text-align:center;
	float:left;
	padding-bottom:16px;
	}

.none{
	text-decoration:none;
	}

h1.lightmid{
	font-family: 'ralewaysemibold';
	font-size:1.875rem;
	line-height:116%;
	color:#fff;
	display:block;
	text-align:center;
	margin:0 100px 0 100px;
	}

.footer {
	background-size: cover;
	background-image: linear-gradient(
        to right bottom, 
        #360033, 
        #0b8793);
	}

.addinfo3 {
	padding-top:16px;
	font-family: 'bitteritalic';
	font-size:1.000rem;
	line-height:144%;
	color:#fff;
	display:block;
	text-align:center;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:16px;
	}

.formholder {
	width: 100%;
	box-sizing:border-box;
	display:inline-block;
	}

h3.white {
	font-family: 'ralewayextrabold';
	font-size:1.125rem;
	line-height:144%;
	color:#f0f3f3;
	display:block;
	text-align:left;
	margin-top:36px;
	margin-bottom:24px;
	}

	.contactinfo-primary {
	width:50%;
	box-sizing:border-box;
	display:inline-block;
	}

	.contactinfo-primary--left {
	float: left;
	padding-right: 20px;
	}

	.contactinfo-primary--right {
	float: right;
	}

.hanna {
	max-width:220px;
	display:inline-block;
	margin-right:16px;
	float: left;
	}

.hannainfo {
	font-family: 'ralewayextrabold';
	font-size:1.250rem;
	line-height:144%;
	color:#f0f3f3;
	display:block;
	text-align:left;
	width:auto;

}

.hannainfo2{
	font-family: 'ralewaysemibold';
	font-size:1.000rem;
	line-height:144%;
	color:#f0f3f3;
	display:block;
	text-align:left;
	margin-left:10px;
	margin-bottom:10px;
	margin-top:0;
	width:auto;
	text-decoration: none;
}

#SkypeButton_Call_gabrielorakulum_1 {
	display:block;
	margin:-18px auto -18px auto;
	text-align:center;

	}

.parkolas {
	font-family: 'ralewayregular';
	font-size:1.000rem;
	line-height:144%;
	color:#fff;
	display:block;
	text-align:left;
	float:left;
	margin-bottom:10px;
}

.parkolascim {
	font-family: 'ralewaysemibold';
	font-size:1.000rem;
	line-height:144%;
	color:#f0f3f3;
	display:block;
	text-align:left;
	float:left;
	margin-bottom:10px;
}

.aligned2{

margin-top:-10px;
}

.textlink {
	text-decoration:underline;
	color:#10222b;
	}

h3.white2 {
	font-family: 'ralewayextrabold';
	font-size:1.125rem;
	line-height:144%;
	color:#fff;
	display:block;
	text-align:left;
	margin-top:64px;
	margin-bottom:24px;
	}

.logoholder {
	width: 140px;
	margin:60px auto 40px auto;
	display:block;
}

.rights{
	display:block;
	margin:0 auto 60px auto;
	font-family: 'ralewaysemibold';
	font-size:1.125rem;
	color:#f0f3f3;
	display:block;
	text-align:center;
}
